<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G2022</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AX88772</string>
	<key>CFBundleGetInfoString</key>
	<string>ASIX USB Ethernet driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.asix.driver.ax88772</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AX88772</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11C29</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19B90</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTXcodeBuild</key>
	<string>11C29</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AX88772-1452/5122</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772A</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5122</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AX88772-2965/30496</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>30496</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>AX88772-2965/30506</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772A</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>30506</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>AX88772-2965/30507</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772B</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>30507</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>AX88772-2965/30507/2</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772C</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>30507</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>AX88772-2965/32299</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772B</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>32299</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>AX88772-3574/85</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772A</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>85</integer>
			<key>idVendor</key>
			<integer>3574</integer>
		</dict>
		<key>AX88772-5041/24</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>24</integer>
			<key>idVendor</key>
			<integer>5041</integer>
		</dict>
		<key>AX88772-8193/15365</key>
		<dict>
			<key>AllowGigabit</key>
			<integer>0</integer>
			<key>CFBundleIdentifier</key>
			<string>com.asix.driver.ax88772</string>
			<key>Chip</key>
			<string>AX88772</string>
			<key>IOClass</key>
			<string>AX88772</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>InputBuffers</key>
			<integer>64</integer>
			<key>OutputBuffers</key>
			<integer>64</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>15365</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>15.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.6</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.6</string>
		<key>com.apple.kpi.mach</key>
		<string>15.6</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
